/* ################################################################################################################################################## */
/* ########################################## - Page sur le télésiège des Chavannes Express - ####################################################### */
/* ################################################################################################################################################## */

/* ################################################################################################# */
/* ############################################ - Introduction - ################################### */
/* ################################################################################################# */

.chavannes_intro
{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:"Work Sans", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../images/paysage/paysage1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 30px;
}

.chavannes_intro h1
{
    font-size:2.5rem;
    color:white;
    margin:0;
}

/* ################################################################################################# */
/* ###################################### - Conteneurs généraux - ################################## */
/* ################################################################################################# */

.chavannes_zonePresentation
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.chavannes_zoneGeneral_intro,
.chavannes_zonePresentation_partie2,
.chavannes_zonePresentation_partie6,
.chavannes_zonePresentation_partie26,
.chavannes_zonePresentation_partie30,
.chavannes_zonePresentation_partie32
{
    display:flex;
    flex-direction:column;
    background-color:#dee4ef;
    padding:10px;
    border-radius:20px;
    margin:10px 100px 0;
    text-align:justify;
}

.chavannes_zoneGeneral_intro h2,
.chavannes_zonePresentation_partie2 h2,
.chavannes_zonePresentation_partie6 h2,
.chavannes_zonePresentation_partie26 h2,
.chavannes_zonePresentation_partie30 h2,
.chavannes_zonePresentation_partie32 h2
{
    margin-top:10px;
    margin-left:4px;
}

.chavannes_zoneGeneral_intro p,
.chavannes_zonePresentation_partie2 p,
.chavannes_zonePresentation_partie6 p,
.chavannes_zonePresentation_partie26 p,
.chavannes_zonePresentation_partie30 p,
.chavannes_zonePresentation_partie32 p
{
    margin-top:-1px;
    margin-left:8px;
    margin-right:8px;
}

/* ################################################################################################# */
/* ####################################### - Conteneur carte interactive - ######################### */
/* ################################################################################################# */

.chavannes_zoneCarte
{
    display:flex;
    justify-content:center;
    margin: 41px;
}

.chavannes_carte
{
    width:80%;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    overflow:hidden;
}

#map
{
    width:100%;
    height:500px;
    border-radius:20px 20px 0 0;
}

.chavannes_carte figcaption
{
    background-color:#789b67;
    color:white;
    padding:10px;
    text-align:center;
    border-radius:0 0 20px 20px;
}

/* ################################################################################################# */
/* ######################################## - Blocs images - ####################################### */
/* ################################################################################################# */

.chavannes_zonePresentation_partie1,
.chavannes_zonePresentation_partie3,
.chavannes_zonePresentation_partie4,
.chavannes_zonePresentation_partie5,
.chavannes_zonePresentation_partie7,
.chavannes_zonePresentation_partie8,
.chavannes_zonePresentation_partie9,
.chavannes_zonePresentation_partie10,
.chavannes_zonePresentation_partie11,
.chavannes_zonePresentation_partie12,
.chavannes_zonePresentation_partie13,
.chavannes_zonePresentation_partie14,
.chavannes_zonePresentation_partie15,
.chavannes_zonePresentation_partie16,
.chavannes_zonePresentation_partie17,
.chavannes_zonePresentation_partie18,
.chavannes_zonePresentation_partie19,
.chavannes_zonePresentation_partie20,
.chavannes_zonePresentation_partie21,
.chavannes_zonePresentation_partie22,
.chavannes_zonePresentation_partie23,
.chavannes_zonePresentation_partie24,
.chavannes_zonePresentation_partie25,
.chavannes_zonePresentation_partie27,
.chavannes_zonePresentation_partie28,
.chavannes_zonePresentation_partie29,
.chavannes_zonePresentation_partie31
{
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin:20px;
}

.chavannes_zonePresentation_partie1 img,
.chavannes_zonePresentation_partie3 img,
.chavannes_zonePresentation_partie4 img,
.chavannes_zonePresentation_partie5 img,
.chavannes_zonePresentation_partie7 img,
.chavannes_zonePresentation_partie8 img,
.chavannes_zonePresentation_partie9 img,
.chavannes_zonePresentation_partie10 img,
.chavannes_zonePresentation_partie11 img,
.chavannes_zonePresentation_partie12 img,
.chavannes_zonePresentation_partie13 img,
.chavannes_zonePresentation_partie14 img,
.chavannes_zonePresentation_partie15 img,
.chavannes_zonePresentation_partie16 img,
.chavannes_zonePresentation_partie17 img,
.chavannes_zonePresentation_partie18 img,
.chavannes_zonePresentation_partie19 img,
.chavannes_zonePresentation_partie20 img,
.chavannes_zonePresentation_partie21 img,
.chavannes_zonePresentation_partie22 img,
.chavannes_zonePresentation_partie23 img,
.chavannes_zonePresentation_partie24 img,
.chavannes_zonePresentation_partie25 img,
.chavannes_zonePresentation_partie27 img,
.chavannes_zonePresentation_partie28 img,
.chavannes_zonePresentation_partie29 img,
.chavannes_zonePresentation_partie31 img
{
    border-radius:20px 20px 0 0;
}

.chavannes_zonePresentation_partie1 figcaption,
.chavannes_zonePresentation_partie3 figcaption,
.chavannes_zonePresentation_partie4 figcaption,
.chavannes_zonePresentation_partie5 figcaption,
.chavannes_zonePresentation_partie7 figcaption,
.chavannes_zonePresentation_partie8 figcaption,
.chavannes_zonePresentation_partie9 figcaption,
.chavannes_zonePresentation_partie10 figcaption,
.chavannes_zonePresentation_partie11 figcaption,
.chavannes_zonePresentation_partie12 figcaption,
.chavannes_zonePresentation_partie13 figcaption,
.chavannes_zonePresentation_partie14 figcaption,
.chavannes_zonePresentation_partie15 figcaption,
.chavannes_zonePresentation_partie16 figcaption,
.chavannes_zonePresentation_partie17 figcaption,
.chavannes_zonePresentation_partie18 figcaption,
.chavannes_zonePresentation_partie19 figcaption,
.chavannes_zonePresentation_partie20 figcaption,
.chavannes_zonePresentation_partie21 figcaption,
.chavannes_zonePresentation_partie22 figcaption,
.chavannes_zonePresentation_partie23 figcaption,
.chavannes_zonePresentation_partie24 figcaption,
.chavannes_zonePresentation_partie25 figcaption,
.chavannes_zonePresentation_partie27 figcaption,
.chavannes_zonePresentation_partie28 figcaption,
.chavannes_zonePresentation_partie29 figcaption,
.chavannes_zonePresentation_partie31 figcaption
{
    color:white;
    margin:10px;
}

/* ################################################################################################# */
/* ################################ - Carte localisation géographique - ############################ */
/* ################################################################################################# */

.chavannes_zonePresentation_partie2_sp2
{
    display:flex;
    flex-direction:column;
}

.chavannes_zonePresentation_partie2_sp2 h2
{
    margin-left:4px;
}

.chavannes_zonePresentation_partie2_sp2_sp2
{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin:20px auto;
    width:58%;
}

.chavannes_zonePresentation_partie2_sp2_sp2 img
{
    width:100%;
    border-radius:20px 20px 0 0;
}

.chavannes_zonePresentation_partie2_sp2_sp2 figcaption
{
    color:white;
    margin:10px;
}
/* ################################################################################################# */
/* ################################################################################################# */
/* ################################################################################################# */