/* ################################################################################################################################################## */
/* ############################################# - Page sur le télésiège Grains d'Or Express - ###################################################### */
/* ################################################################################################################################################## */

/* ################################################################################################# */
/* ############################################ - Introduction - ################################### */
/* ################################################################################################# */

.grains_intro
{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:"Work Sans", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../images/paysage/paysage1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 30px;
}

.grains_intro h1
{
    font-size:2.5rem;
    color:white;
    margin:0;
}

/* ################################################################################################# */
/* ###################################### - Conteneurs généraux - ################################## */
/* ################################################################################################# */

.grains_zonePresentation
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.grains_zoneGeneral_intro,
.grains_zonePresentation_partie0,
.grains_zonePresentation_partie5,
.grains_zonePresentation_partie15,
.grains_zonePresentation_partie17,
.grains_zonePresentation_partie20
{
    display:flex;
    flex-direction:column;
    background-color:#dee4ef;
    padding:10px;
    border-radius:20px;
    margin:10px 100px 0;
    text-align:justify;
}

.grains_zoneGeneral_intro h2,
.grains_zonePresentation_partie0 h2,
.grains_zonePresentation_partie5 h2,
.grains_zonePresentation_partie15 h2,
.grains_zonePresentation_partie17 h2,
.grains_zonePresentation_partie20 h2,
.grains_zonePresentation_partie2 h2
{
    margin-top:10px;
    margin-left:4px;
}

.grains_zoneGeneral_intro p,
.grains_zonePresentation_partie0 p,
.grains_zonePresentation_partie5 p,
.grains_zonePresentation_partie15 p,
.grains_zonePresentation_partie17 p,
.grains_zonePresentation_partie20 p,
.grains_zonePresentation_partie2 p
{
    margin-top:-1px;
    margin-left:8px;
    margin-right:8px;
}

/* ################################################################################################# */
/* ####################################### - Conteneur carte interactive - ######################### */
/* ################################################################################################# */

.grains_zoneCarte
{
    display:flex;
    justify-content:center;
    margin: 41px;
}

.grains_carte
{
    width:80%;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    overflow:hidden;
}

#map
{
    width:100%;
    height:500px;
    border-radius:20px 20px 0 0;
}

.grains_carte figcaption
{
    background-color:#789b67;
    color:white;
    padding:10px;
    text-align:center;
    border-radius:0 0 20px 20px;
}

/* ################################################################################################# */
/* ######################################## - Blocs images - ####################################### */
/* ################################################################################################# */

.grains_zonePresentation_partie0,
.grains_zonePresentation_partie1,
.grains_zonePresentation_partie3,
.grains_zonePresentation_partie4,
.grains_zonePresentation_partie6,
.grains_zonePresentation_partie7,
.grains_zonePresentation_partie8,
.grains_zonePresentation_partie9,
.grains_zonePresentation_partie10,
.grains_zonePresentation_partie11,
.grains_zonePresentation_partie12,
.grains_zonePresentation_partie13,
.grains_zonePresentation_partie14,
.grains_zonePresentation_partie16,
.grains_zonePresentation_partie18,
.grains_zonePresentation_partie19
{
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin:20px;
}

.grains_zonePresentation_partie0 img,
.grains_zonePresentation_partie1 img,
.grains_zonePresentation_partie3 img,
.grains_zonePresentation_partie4 img,
.grains_zonePresentation_partie6 img,
.grains_zonePresentation_partie7 img,
.grains_zonePresentation_partie8 img,
.grains_zonePresentation_partie9 img,
.grains_zonePresentation_partie10 img,
.grains_zonePresentation_partie11 img,
.grains_zonePresentation_partie12 img,
.grains_zonePresentation_partie13 img,
.grains_zonePresentation_partie14 img,
.grains_zonePresentation_partie16 img,
.grains_zonePresentation_partie18 img,
.grains_zonePresentation_partie19 img
{
    border-radius:20px 20px 0 0;
}

.grains_zonePresentation_partie0 figcaption,
.grains_zonePresentation_partie1 figcaption,
.grains_zonePresentation_partie3 figcaption,
.grains_zonePresentation_partie4 figcaption,
.grains_zonePresentation_partie6 figcaption,
.grains_zonePresentation_partie7 figcaption,
.grains_zonePresentation_partie8 figcaption,
.grains_zonePresentation_partie9 figcaption,
.grains_zonePresentation_partie10 figcaption,
.grains_zonePresentation_partie11 figcaption,
.grains_zonePresentation_partie12 figcaption,
.grains_zonePresentation_partie13 figcaption,
.grains_zonePresentation_partie14 figcaption,
.grains_zonePresentation_partie16 figcaption,
.grains_zonePresentation_partie18 figcaption,
.grains_zonePresentation_partie19 figcaption
{
    color:white;
    margin:10px;
}

/* ################################################################################################# */
/* ####################################### - Partie centrale - ##################################### */
/* ################################################################################################# */

.grains_zonePresentation_partie2
{
    display:flex;
    flex-direction:column;
    background-color:#dee4ef;
    padding:10px;
    border-radius:20px;
    margin:10px 100px 0;
    text-align:justify;
}

.grains_zonePresentation_partie2_sp2
{
    display:flex;
    flex-direction:column;
}

.grains_zonePresentation_partie2_sp2
{
    display:flex;
    flex-direction:column;
}

/* ################################################################################################# */
/* ################################ - Carte localisation géographique - ############################ */
/* ################################################################################################# */

.grains_zonePresentation_partie2_sp2_sp2
{
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
    align-self:center;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin:20px;
    width:58%;
}

.grains_zonePresentation_partie2_sp2_sp2 img
{
    width:100%;
    border-radius:20px 20px 0 0;
}

.grains_zonePresentation_partie2_sp2_sp2 figcaption
{
    color:white;
    margin:10px;
}

/* ################################################################################################# */
/* ######################################## - Conclusion - ######################################## */
/* ################################################################################################# */

.grains_zonePresentation_partie20
{
    margin-bottom:30px;
}

/* ################################################################################################# */
/* ################################################################################################# */
/* ################################################################################################# */