/* ################################################################################################################################################## */
/* ############################################### - Page sur le télésiège de la Pointe - ############################################################ */
/* ################################################################################################################################################## */

/* ################################################################################################# */
/* ############################################ - Introduction - ################################### */
/* ################################################################################################# */

.pointe_intro
{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:"Work Sans", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../images/paysage/paysage1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 30px;
}

.pointe_intro h1
{
    font-size:2.5rem;
    color:white;
    margin:0;
}

/* ################################################################################################# */
/* ###################################### - Conteneurs généraux - ################################## */
/* ################################################################################################# */

.pointe_zonePresentation
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.pointe_zoneGeneral_intro,
.pointe_zonePresentation_partie2,
.pointe_zonePresentation_partie19,
.pointe_zonePresentation_partie22,
.pointe_zonePresentation_partie25
{
    align-self: stretch;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    background-color:#dee4ef;
    padding:10px;
    border-radius:20px;
    margin:10px 100px 0;
    text-align:justify;
}

.pointe_zoneGeneral_intro h2,
.pointe_zonePresentation_partie2 h2,
.pointe_zonePresentation_partie19 h2,
.pointe_zonePresentation_partie22 h2,
.pointe_zonePresentation_partie25 h2
{
    margin-top:10px;
    margin-left:4px;
}

.pointe_zoneGeneral_intro p,
.pointe_zonePresentation_partie2 p,
.pointe_zonePresentation_partie19 p,
.pointe_zonePresentation_partie22 p,
.pointe_zonePresentation_partie25 p
{
    margin-top:-1px;
    margin-left:8px;
    margin-right:8px;
}

.pointe_zonePresentation_partie25
{
    margin-bottom: 30px;
}

/* ################################################################################################# */
/* ####################################### - Conteneur carte interactive - ######################### */
/* ################################################################################################# */

.pointe_zoneCarte
{
    display:flex;
    justify-content:center;
    margin: 41px;
}

.pointe_carte
{
    width:80%;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    overflow:hidden;
}

#map
{
    width:100%;
    height:500px;
    border-radius:20px 20px 0 0;
}

.pointe_carte figcaption
{
    background-color:#789b67;
    color:white;
    padding:10px;
    text-align:center;
    border-radius:0 0 20px 20px;
}

/* ################################################################################################# */
/* ######################################## - Blocs images - ####################################### */
/* ################################################################################################# */

.pointe_zonePresentation_partie1,
.pointe_zonePresentation_partie3,
.pointe_zonePresentation_partie4,
.pointe_zonePresentation_partie5,
.pointe_zonePresentation_partie6,
.pointe_zonePresentation_partie7,
.pointe_zonePresentation_partie8,
.pointe_zonePresentation_partie9,
.pointe_zonePresentation_partie10,
.pointe_zonePresentation_partie11,
.pointe_zonePresentation_partie12,
.pointe_zonePresentation_partie13,
.pointe_zonePresentation_partie14,
.pointe_zonePresentation_partie15,
.pointe_zonePresentation_partie16,
.pointe_zonePresentation_partie17,
.pointe_zonePresentation_partie18,
.pointe_zonePresentation_partie20,
.pointe_zonePresentation_partie21,
.pointe_zonePresentation_partie23,
.pointe_zonePresentation_partie24
{
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin:20px;
}

.pointe_zonePresentation_partie1 img,
.pointe_zonePresentation_partie3 img,
.pointe_zonePresentation_partie4 img,
.pointe_zonePresentation_partie5 img,
.pointe_zonePresentation_partie6 img,
.pointe_zonePresentation_partie7 img,
.pointe_zonePresentation_partie8 img,
.pointe_zonePresentation_partie9 img,
.pointe_zonePresentation_partie10 img,
.pointe_zonePresentation_partie11 img,
.pointe_zonePresentation_partie12 img,
.pointe_zonePresentation_partie13 img,
.pointe_zonePresentation_partie14 img,
.pointe_zonePresentation_partie15 img,
.pointe_zonePresentation_partie16 img,
.pointe_zonePresentation_partie17 img,
.pointe_zonePresentation_partie18 img,
.pointe_zonePresentation_partie20 img,
.pointe_zonePresentation_partie21 img,
.pointe_zonePresentation_partie23 img,
.pointe_zonePresentation_partie24 img
{
    border-radius:20px 20px 0 0;
}

.pointe_zonePresentation_partie1 figcaption,
.pointe_zonePresentation_partie3 figcaption,
.pointe_zonePresentation_partie4 figcaption,
.pointe_zonePresentation_partie5 figcaption,
.pointe_zonePresentation_partie6 figcaption,
.pointe_zonePresentation_partie7 figcaption,
.pointe_zonePresentation_partie8 figcaption,
.pointe_zonePresentation_partie9 figcaption,
.pointe_zonePresentation_partie10 figcaption,
.pointe_zonePresentation_partie11 figcaption,
.pointe_zonePresentation_partie12 figcaption,
.pointe_zonePresentation_partie13 figcaption,
.pointe_zonePresentation_partie14 figcaption,
.pointe_zonePresentation_partie15 figcaption,
.pointe_zonePresentation_partie16 figcaption,
.pointe_zonePresentation_partie17 figcaption,
.pointe_zonePresentation_partie18 figcaption,
.pointe_zonePresentation_partie20 figcaption,
.pointe_zonePresentation_partie21 figcaption,
.pointe_zonePresentation_partie23 figcaption,
.pointe_zonePresentation_partie24 figcaption
{
    color:white;
    margin:10px;
}

/* ################################################################################################# */
/* ################################ - Carte localisation géographique - ############################ */
/* ################################################################################################# */

.pointe_zonePresentation_partie2_sp2_sp2
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:#50719f;
    border-radius:20px;
    margin: 20px auto;
    width:58%;
}

.pointe_zonePresentation_partie2_sp2_sp2 img
{
    width:100%;
    border-radius:20px 20px 0 0;
}

.pointe_zonePresentation_partie2_sp2_sp2 figcaption
{
    color:white;
    margin:10px;
}

/* ################################################################################################# */
/* ################################################################################################# */
/* ################################################################################################# */